html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-container {
	display: flex;
	flex-flow: row nowrap;
}

.sidebar {
	display: flex;
	flex-direction: column;
	height: 100vh;
	min-width: 50ch;
	border-right: 1px solid black;
	justify-content: space-around;
	left: 0;
	top: 0;
	background-color: white;
}



.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 2rem 1.5rem;
	background-color: black;
	border-top: 2px solid red;
}